<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Resources -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: linear-gradient(to right, #b92b27, #1565c0)
        }
        
        .box {
            width: 500px;
            padding: 40px;
            background: #191919;
            text-align: center;
            transition: 0.25s;
            margin-top: 100px;
            margin-left: 28%
        }
        
        .box input[type="text"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 10px 10px;
            width: 250px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s
        }
        
        .box h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 500
        }
        
        .box input[type="text"]:focus {
            width: 300px;
            border-color: #2ecc71
        }
        
        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer
        }
        
        .box input[type="submit"]:hover {
            background: #2ecc71
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" action="/updatetodo/<%=todolist.id %>" method="POST">
                        <h1>Update</h1>
                        <input type="text" name="task" value="<%= todolist.task %>">
                        <input type="text" name="targetDate" value="<%= todolist.targetDate %>">
                        <input type="submit" name="update" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>